# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.

#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

[mysqld]
port=3306
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
lower_case_table_names = 1
default-storage-engine = innodb
innodb_file_per_table
max_connections = 15000
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
key_buffer_size =256M
table_cache =256
sort_buffer_size =2M
read_buffer_size =2M
read_rnd_buffer_size =2M
tmp_table_size=256M
innodb_buffer_pool_size = 256M
innodb_additional_mem_pool_size = 8M
innodb_log_buffer_size = 1M
max_allowed_packet=50M
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/